# Mailtrap Email Sending SMTP
SMTP_HOST=live.smtp.mailtrap.io
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=api
SMTP_PASS=your_mailtrap_api_key

# Email addresses
EMAIL_FROM=Coding With God <info@codingwithgod.com>
EMAIL_TO=you@example.com

# Server
PORT=5001
